/*----- COLORS -----*/
:root {
    --dark-green: #19270D;
    --bright-orange: #FF9902;
    --dark-orange: #9D4E00;
    --lightgreen: #3B8C54;
    --accent: #818C3B;
    --lightbrown: #72601B;
    --white: #EEEEEE;
}

/*----- FONTS -----*/
@font-face {
    font-family: heading;
    src: url(./assets/fonts/BungeeInline-Regular.ttf);
}

@font-face {
    font-family: subheading;
    src: url(./assets/fonts/Bungee-Regular.ttf);
}

@font-face {
    font-family: tagline;
    src: url(./assets/fonts/Smooch-Regular.ttf);
}

@font-face {
    font-family: body;
    src: url(./assets/fonts/Cabin.ttf);
}

:root {
    --heading: heading;
    --subheading: subheading;
    --tagline: tagline;
    --body: body;
}

/*---------- BACKGROUND ----------*/
.main {
    background-image: url(./assets/images/crinkle-paper.PNG);
    background-size: cover;
    background-position: top center;
    background-color: var(--dark-green);
    height: 100vh;
    padding: 0;
    margin: 0;
}
