/*----- COLORS -----*/
:root {
    --dark-green: #19270D;
    --bright-orange: #FF9902;
    --dark-orange: #9D4E00;
    --lightgreen: #3B8C54;
    --accent: #818C3B;
    --lightbrown: #72601B;
    --white: #EEEEEE;
}

/*----- FONTS -----*/
@font-face {
    font-family: heading;
    src: url(./assets/fonts/BungeeInline-Regular.ttf);
}

@font-face {
    font-family: subheading;
    src: url(./assets/fonts/Bungee-Regular.ttf);
}

@font-face {
    font-family: tagline;
    src: url(./assets/fonts/Smooch-Regular.ttf);
}

@font-face {
    font-family: body;
    src: url(./assets/fonts/Cabin.ttf);
}

:root {
    --heading: heading;
    --subheading: subheading;
    --tagline: tagline;
    --body: body;
}

/*---------- MAIN ----------*/
.full-header {
    display: flex;
    flex-direction: row;
}

.login-header {
    /* outline: red dashed 3px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0;
    width: 100%;
    z-index: 50;
}

/*----- SASQUATCH -----*/
.mascot {
    /* outline: red dashed 3px; */
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    z-index: 10;
}

.mascot img {
    /* outline: blue dashed 3px; */
    transform: rotate(30deg);
    margin-left: -250px;
    width: 400px;
    height: auto;
    overflow: hidden;
}

/*----- ABOUT -----*/
.redirect-about {
    /* outline: blue dashed 3px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.about {
    font-family: var(--subheading);
    color: var(--lightgreen);
    font-size: 30px;
    margin: 25px 50px 0 0;
    text-align: left;
    text-decoration: none;
}

/*----- LOGO -----*/
.sasquest {
    /* outline: greenyellow dashed 3px; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    width: 100%;
}

.lg-letters {
    /* outline: orange dashed 3px; */
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

h1 {
    /* outline: blue dashed 3px; */
    font-family: var(--heading);
    font-size: 150px;
    color: var(--bright-orange);
    text-shadow: 0 7px 1px var(--dark-orange);
    text-align: center;
    margin-top: -10px;
    margin-left: 0;
    margin-right: 0;
}

.logo-middle {
    /* outline: purple dashed 3px; */
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    /* outline: rgb(255, 0, 128) dashed 3px; */
    font-family: var(--heading);
    font-size: 100px;
    color: var(--bright-orange);
    text-shadow: 0 7px 1px var(--dark-orange);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

/*----- TAGLINE -----*/
.tagline {
    /* outline: red dashed 3px; */
    font-family: var(--tagline);
    color: var(--dark-orange);
    font-size: 60px;
    text-align: center;
    margin-top: -15px;
}