/*----- COLORS -----*/
:root {
  --dark-green: #19270d;
  --bright-orange: #ff9902;
  --dark-orange: #9d4e00;
  --lightgreen: #3b8c54;
  --accent: #818c3b;
  --lightbrown: #72601b;
  --white: #eeeeee;
}

/*----- FONTS -----*/
@font-face {
  font-family: heading;
  src: url("../fonts/BungeeInline-Regular.ttf");
}

@font-face {
  font-family: subheading;
  src: url("../fonts/Bungee-Regular.ttf");
}

@font-face {
  font-family: tagline;
  src: url("../fonts/Smooch-Regular.ttf");
}

@font-face {
  font-family: body;
  src: url("../fonts/Cabin.ttf");
}

:root {
  --heading: heading;
  --subheading: subheading;
  --tagline: tagline;
  --body: body;
}

/*----- FORM -----*/
.new-project-container {
  /* outline: blue dashed 3px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.new-project {
  /* outline: red dashed 3px; */
  width: 50%;
}

/*----- LABEL -----*/
.new-project label {
  /* outline: yellow dashed 3px; */
  font-family: var(--body);
  font-size: 25px;
  color: var(--lightbrown);
  margin-right: 15px;
}

/*----- INPUT -----*/
.new-project input {
  /* outline: orange dashed 3px; */
  font-family: var(--subheading);
  font-size: 20px;
  background-color: #3a4530;
  color: var(--dark-orange);
  border: #595959 solid 1px;
  border-radius: 5px;
  line-height: 1.25;
  margin-right: 15px;
  width: 50%;
}

/*----- BUTTON -----*/
.new-project button {
  font-family: var(--subheading);
  font-size: 20px;
  color: var(--dark-orange);
  background-color: var(--dark-green);
  border: var(--dark-orange) solid 3px;
  border-radius: 5px;
}

@media (max-width: 500px) {
  /*----- FORM -----*/
  .new-project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }

  .new-project {
    width: 100%;
  }

  .new-project input {
    width: 100%;
    margin-right: 0;
  }

  .new-project button {
    font-size: 18px;
  }
}
