/*----- COLORS -----*/
:root {
    --dark-green: #19270D;
    --bright-orange: #FF9902;
    --dark-orange: #9D4E00;
    --lightgreen: #3B8C54;
    --accent: #818C3B;
    --lightbrown: #72601B;
    --white: #EEEEEE;
}

/*----- FONTS -----*/
@font-face {
    font-family: heading;
    src: url('../fonts/BungeeInline-Regular.ttf');
}

@font-face {
    font-family: subheading;
    src: url('../fonts/Bungee-Regular.ttf');
}

@font-face {
    font-family: tagline;
    src: url('../fonts/Smooch-Regular.ttf');
}

@font-face {
    font-family: body;
    src: url('../fonts/Cabin.ttf');
}
:root {
    --heading: heading;
    --subheading: subheading;
    --tagline: tagline;
    --body: body;
}

/*----- HEADER -----*/
.project-header {
    /* outline: red dashed 3px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-title {
    /* outline: blue dashed 3px; */
    font-family: var(--heading);
    font-size: 50px;
    color: var(--bright-orange);
    text-shadow: 0 5px 1px var(--dark-orange);
    margin: 5px;
}

