/* /----- COLORS -----/  */
:root {
  --dark-green: #19270d;
  --bright-orange: #ff9902;
  --dark-orange: #9d4e00;
  --lightgreen: #3b8c54;
  --accent: #818c3b;
  --lightbrown: #72601b;
  --white: #eeeeee;
}
/* /----- FONTS -----/ */

@font-face {
  font-family: heading;
  src: url("../fonts/BungeeInline-Regular.ttf");
}
@font-face {
  font-family: subheading;
  src: url("../fonts/Bungee-Regular.ttf");
}
@font-face {
  font-family: tagline;
  src: url("../fonts/Smooch-Regular.ttf");
}
@font-face {
  font-family: body;
  src: url("../fonts/Cabin.ttf");
}
:root {
  --heading: heading;
  --subheading: subheading;
  --tagline: tagline;
  --body: body;
}
/* /----- MAIN -----/  */

/*----- MAIN -----*/
.dashboard {
  /* outline: aquamarine dashed 3px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projects-container {
  /* outline: red dashed 3px; */
  border: var(--accent) solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 500px;
  margin-top: 20px;
}

.dashboard-header {
  /* outline: blue dashed 3px; */
  border-right: var(--accent) solid 3px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 500px;
  margin: 0;
}

.your-adventures {
  /* outline: aqua dashed 3px; */
  font-family: var(--subheading);
  font-size: 40px;
  color: var(--lightbrown);
  text-align: center;
  transform: rotate(-90deg);
  white-space: nowrap;
}

/*----- NO PROJECTS -----*/
.no-projects {
  /* outline: green dashed 3px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 500px;
}

.uncharted {
  /* outline: orange dashed 3px; */
  font-family: var(--subheading);
  font-size: 50px;
  background-color: black;
  color: #ff6a17;
  border: #ff6a17 solid 5px;
  padding: 5px 20px 5px 20px;
}

.start {
  /* outline: orange dashed 3px; */
  font-family: var(--subheading);
  font-size: 35px;
  color: #ff6a17;
}

/*----- DISPLAY PROJECTS -----*/
.display-projects {
  /* outline: purple dashed 3px; */
  display: grid;
  gap: 5px 5px;
  grid-template-columns: auto auto auto;
  width: 90%;
  height: 500px;
  overflow: scroll;
}

.each-project {
  /* outline: blue dashed 3px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}

.each-project a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--subheading);
  font-size: 15px;
  color: var(--accent);
  text-decoration: none;
  text-align: center;
}

.each-project a:hover {
  border: var(--accent) solid 3px;
  border-radius: 10px;
  padding: 10px;
}

.each-project-title {
  margin: 0;
}

.project-icon img {
  width: 75px;
}

/* ----------------------------------------MEDIA --------------------------------------- */
/* max width 500 px */

@media (max-width: 500px) {
  .dashboard {
    width: 100%;
    padding-bottom: 50px;
    /* border: none; */
  }

  .projects-container {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border: none;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
  }

  .dashboard-header {
    order: 1;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    display: none;
  }

  .your-adventures {
    font-size: 24px;
    white-space: normal;
    transform: none;
    margin-top: 10px;
    display: none;
  }

  .no-projects {
    width: 100%;
    height: auto;
  }

  .uncharted {
    font-size: 32px;
    padding: 10px;
  }

  .start {
    font-size: 24px;
  }

  .display-projects {
    width: 100%;
    height: auto;
  }

  .each-project {
    width: 100%;
    height: auto;
    font-size: 18px;
    padding: 5px;
  }

  .each-project a {
    font-size: 18px;
    padding: 5px;
  }

  .each-project a:hover {
    border: none;
  }

  .project-icon img {
    width: 40px;
  }
}
