/*----- COLORS -----*/
:root {
    --dark-green: #19270D;
    --bright-orange: #FF9902;
    --dark-orange: #9D4E00;
    --lightgreen: #3B8C54;
    --accent: #818C3B;
    --lightbrown: #72601B;
    --white: #EEEEEE;
}

/*----- FONTS -----*/
@font-face {
    font-family: heading;
    src: url('../fonts/BungeeInline-Regular.ttf');
}

@font-face {
    font-family: subheading;
    src: url('../fonts/Bungee-Regular.ttf');
}

@font-face {
    font-family: tagline;
    src: url('../fonts/Smooch-Regular.ttf');
}

@font-face {
    font-family: body;
    src: url('../fonts/Cabin.ttf');
}

:root {
    --heading: heading;
    --subheading: subheading;
    --tagline: tagline;
    --body: body;
}

/*----- MAIN -----*/
.dashboard {
    /* outline: aquamarine dashed 3px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projects-container {
    /* outline: red dashed 3px; */
    border: var(--accent) solid 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 500px;
    margin-top: 30px;
}

.dashboard-header {
    /* outline: blue dashed 3px; */
    border-right: var(--accent) solid 3px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 500px;
    margin: 0;
}

h3 {
    /* outline: aqua dashed 3px; */
    font-family: var(--subheading);
    font-size: 40px;
    color: var(--lightbrown);
    text-align: center;
    transform: rotate(-90deg);
    white-space: nowrap;
}

.no-projects {
    /* outline: green dashed 3px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 500px;
}

.uncharted {
    /* outline: orange dashed 3px; */
    font-family: var(--subheading);
    font-size: 50px;
    background-color: black;
    color: #FF6A17;
    border: #FF6A17 solid 5px;
    padding: 5px 20px 5px 20px;
}

.start {
    /* outline: orange dashed 3px; */
    font-family: var(--subheading);
    font-size: 35px;
    color: #FF6A17;
}